#header {
	background-color: blue;
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	font-family: "Verdana", sans-serif;
}

#col1 {
	background-color: lightblue;
	border-style: solid;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 20px;
	font-weight: bold;
	font-family: "Georgia", serif;
}

#col2 {
	background-color: lightblue;
	border-style: solid;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 20px;
	font-weight: bold;
	font-family: "Georgia", serif;
}

#col3 {
	background-color: lightblue;
	border-style: solid;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 20px;
	font-weight: bold;
	font-family: "Georgia", serif;
}